.img-hover {
	-webkit-transition: .2s all;
}
.img-hover:hover {
	-webkit-filter: brightness(75%);
	cursor: pointer;
	text-decoration: 
}
.text-decoration-none{
	text-decoration: none;
	color: black;
}
.text-decoration-none:visited{
	color: black;
}
.underline-on-hover:hover{
	text-decoration: underline;
}