body{
	font-family: "Arial Black", Arial, sans-serif;
	color: #173e43;
}
.img-hover {
	-webkit-transition: .2s all;
}
.img-hover:hover {
	-webkit-filter: brightness(75%);
	cursor: pointer;
	text-decoration: 
}
.text-decoration-none{
	text-decoration: none;
	color: #173e43;
}
.text-decoration-none:visited{
	color: #173e43;
}
.underline-on-hover:hover{
	text-decoration: underline;
}