body{
  font-family: "Arial Black", Arial, sans-serif;
  color: #173e43;
}
.img-hover {
  -webkit-transition: .2s all;
}
.img-hover:hover {
  -webkit-filter: brightness(75%);
  cursor: pointer;
  text-decoration: 
}
.text-decoration-none{
  text-decoration: none;
  color: inherit;
}
.text-decoration-none:visited{
  color: inherit;
}
.underline-on-hover:hover{
  text-decoration: underline;
}
.img-responsive{
  width: 100%;
}