footer{
	background-color: #42AB9E;
}
footer > div > div > span{
	color: white;
	display: block;
	text-transform: uppercase;
	padding: 5px 0;
}
footer a{
	display: block;
	padding: 5px 0;
}
footer a:link, footer a:visited{
	text-decoration: none;
	color: white;
}
footer > div{
	padding: 15px 15px;
}
footer p{
	color: white;
	margin: 0;
}