.form input:not(#yes), .form select{
  width: 98%;
  margin-bottom: 1px;
}
.form .row{
  margin: 5px 0;
}
.form label{
  display: inline-block;
  margin: 5px 0;
  font-size: .9em;
}
.form .frm-left-col > .row > div:first-child{
  padding-left: 10px;
}
.form #ssl-en{
  font-size: .6em;
  display: block;
}
.form input#yes{
  display: inline;
}
.form #col-expire-date input{
  width: 32%;
}
.form #license-text{
  font-size: .7em;
  color: rgba(87, 87, 223, .8)
}
.form h3{
  color: #d00b0b;
  margin: 0;
  font-size: .9em;
}
.form input[type=text], .form input[type=email], .form select{
  padding: 3px;
  border-bottom: 1px solid #42AB9E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  outline: none;
  font-size: 1.1em;
  color: #173e43;
  background-color: white;
}
.form input[type=text]:focus{
  border-bottom-width: 2px;
  margin-bottom: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #173e43;
    font-size: .8em;
    opacity: .5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #173e43;
   font-size: .8em;
   opacity: .5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #173e43;
   font-size: .8em;
   opacity: .5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #173e43;
   font-size: .8em;
}