.img-article{
	padding: 0 5px;
}
.img-article .title {
	margin: 0 0 4px 0;
	font-size: 1.2em;
}
.img-article .author {
	font-size: .8em;
}
.img-article img{
	width: 100%;
}
.img-article a{
	display: block;	
}
.img-article a:link, .img-article a:visited {
	text-decoration: none;
	color: inherit;
}
.img-article a:hover{
	text-decoration: underline;
}
