.img-link{
	padding: 1px;
}
.img-link a{
	display: block;
	width: 100%;
	min-height: 200px;
	background-size: cover;
	text-decoration: none;
	color: inherit;
	position: relative;
}
.img-link a > div{
	width: 100%;
	position: absolute;
	bottom: 0px;
	color: white;
	padding: 10px;
}
.img-link a div h3{
	margin: 0;
}