.img-article{
  padding: 0 5px;
}
.img-article .title{
  margin-top: 3px;
}
.img-article .title a {
  margin: 0 0 4px 0;
  font-size: 1.1em;
}
.img-article .author{
  margin-top: 2px;
  margin-bottom: 10px;
  color: rgba(23, 62, 67, .8);
}
.img-article .author a {
  font-size: .8em;
}
.img-article .author .img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
.img-article img{
  width: 100%;
}
.img-article a:link, .img-article a:visited {
  text-decoration: none;
  color: inherit;
}
.img-article a:hover{
  text-decoration: underline;
}
